<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container-head">
      <div class="navbar-header">
 <p class="navbar-brand">Quarantine</p>
      </div>
      <div class=" col-lg-6 ">
        <img class="title-image" src="https://i.ytimg.com/vi/o0NJhJ8nwTk/maxresdefault.jpg" alt="Quarantine" >
      </div>       
       <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">THINGS TODO</a></li>
          <li id="contact"><a href="/contact">HOW'S IT GOING</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>

        </ul>
    </div>
  </nav>


  <body>
