<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= conContent %> </p>
    <img src="https://i1.wp.com/www.kth.se/blogs/studentblog/files/2020/04/WhatsApp-Image-2020-04-18-at-3.21.53-PM.jpeg?fit=768%2C1024&ssl=1" alt="">

<%- include("partials/footer"); -%>
